
<h1>Seller details</h1>
<table class=table>

<thead>
<th>total quantity</th><th>total price</th>
 </thead>
 <tbody>
 <tr>
    
    <td><%=@total_quantity%><td>
    <td><%=@total_price%><td>
    <td><%=@product_name%><td>
</tr>
</tbody>
</table>